.hidden
	visibility: hidden

.pull-right
	float: right

.pull-left
	float: left

.align-right
	text-align: right !important

.align-left
	text-align: left

.color-white
	color: white !important

.blue-card
	background-color: #1f364d
	border-radius: 3px
	box-shadow: 0 0 8px #0c1f31

.green
	color: #26A69A !important

.deep-blue
	color: #0e2439 !important
	text-shadow: 2px 2px #193048
	text-decoration: underline

.red
	color: #e85771 !important

.blue-card-footer
	text-align: center
	background-color: #193048
	color: #9cb3c9
	height: 60px
	padding: 18px
	p
		font-size: 15px
