.hidden
	visibility: hidden

.pull-right
	float: right

.pull-left
	float: left

.color-white
	color: white !important

.blue-card
	background-color: #1f364d
	border-radius: 3px
	box-shadow: 0 0 8px #0c1f31

.blue-card-footer
	text-align: center
	background-color: #193048
	color: #9cb3c9
	height: 60px
	padding: 18px
