{{!-- NAVBAR --}}
<nav class="navbar navbar-default navbar-fixed-top transparent-navbar">
	<div class="container">
		<button class="evaluate-button pull-right" {{action 'toSelection'}}>Pruebalo</button>
		<ul class="navbar-links">
			<li>
				<a class="color-white" href="#">Acerca</a>
			</li>
			<li>
				<a href="#">Arquitectura</a>
			</li>
			<li>
				<a href="#">Contactanos</a>
			</li>
		</ul>
		<a class="navbar-brand page-scroll tec-logo" href="#page-top">Tec de Monterrey</a>
	</div>
</nav>
{{outlet}}