<div class="container">
	<div class="row">
		<div class="col-xs-12">
			{{#unless openCriteriaPicker}}
				{{main-banner openCriteriaPicker=openCriteriaPicker}}
			{{/unless}}

			{{#liquid-if openCriteriaPicker class="criteriaTest"}}
			{{criteria-picker pickFilesChosen=pickFilesChosen openCriteriaPicker=openCriteriaPicker}}
			{{/liquid-if}}

			
		</div>

		<div class="col-xs-12">
		{{#liquid-if pickFilesChosen class="filePicker"}}
				{{file-picker}}
		{{/liquid-if}}
		</div>

		
	</div>
</div>


