<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<div class="container">
			{{#if pickfilesChosen}}
				{{file-picker}}
			{{else}}
				{{criteria-picker pickfilesChosen=pickfilesChosen}}
			{{/if}}
			</div>
		</div>
	</div>
</div>
