<div class="row">
	{{!-- Selectors --}}
	<div class="col-sm-8">
		<div class="blue-card test-card">

		</div>
	</div>

	{{!-- Values selected --}}
	<div class="col-sm-4">
		<div class="blue-card test-card">

		</div>
	</div>
</div>