<div class="main-banner-container">
	<h1 class="main-banner-title">Evaluamos el código de tus alumnos 
		<br>
		con un solo click.
	</h1>
	<div class="code-block" {{action 'openCriteria'}}>
		<div class="code-text">
		</div>
	</div>
</div>