<div class="main-banner-container">
	<h1 class="main-banner-title">Evaluamos el código de tus alumnos 
		<br>
		con un solo click.
	</h1>
	<div class="code-block" {{action 'openCriteria'}}>
		<span class="code-block-object">teacher</span>.evaluate([<span class="code-block-string">'Juan'</span>,<span class="code-block-string">'Mario'</span>]).byCriteria(<span class="code-block-int">100</span>,<span class="code-block-string">'Vars'</span>);
	</div>
</div>