<li>{{criteriaName}} {{x-toggle value=toggleValue size="large" offLabel=false onLabel=true theme="flat" onToggle=(mut toggleValue)}}</li>

{{#if toggleValue}}
	<li>
		{{ui-slider 
		value=sliderValue
		min=0
		max=100 
		step=1 
		orientation='horizontal' 
		tooltip='show' 
		disabled=false 
		handle='round' 
		selection='before' 
		tooltipPosition='top'
		immediateResponse=true
		changed='changed'}}
	</li>
{{/if}}


{{!-- input value --}}
{{!-- {{input type="number" value=sliderValue class="criteria-slider-input"}} --}}